body {
  color: rgb(30,30,19);  
	background-color: royalblue;
	font-family:Helvetica;
	font-siza:30px;
	font-weight:lighter;
}
h1{font-size:40px;
font-family:sans-serif;
color:seagreen;
}

h2{font-size:20px;
   font-family: "Times New Roman", Times, serif;
   color:orangered;
}
h3{font-size:25px;
   font-family:sans-serif;
   color:rgb(10, 120, 129);
}
a{
   text-decoration: none;
   color:green;
   transition: color 0.3s ease;
}
a:hover{
   color:rgb(254,200,100);
}
.container{
   width: 400px
   margin:0 auto ;
   padding:0 5%;
}
.card-white{
   background-color: white;
   padding:40px;
   box-shadow:0px 10px 20px rgba(0,0,0,0.1);
   border-radius:6px;
   margin:20px 0px;
   text-align:center;
}
.card-grey{background-color:lightgoldenrodyellow;
   padding:40px;
   box-shadow:0px 10px 20px color:grey;
   border-radius:6px;
   margin:10px 10%;;
   text-align:center;}

.pic-circle{
   border-radius: 50%;
 }

.list ul{
   list-style: none;
   padding-left:0px ;
}
.list-inline li{
   diaplay:list-inline;
   padding:5px;
}

#intro{
   margin:20px 35%
}
#endding{
   margin:12px 30%;
   border-radius:12px;
}